.header  
  background #fff
  height 50px
  line-height 50px
  box-shadow 1px 1px 2px 0px rgba(0, 85, 186, 0.15)
  display flex
  justify-content space-around
  font-weight 200
  cursor pointer
  .header-logo
    flex 2
    margin-left 30px
  .header-nav
    flex 5
    .nav-items
      text-decoration none
      list-style: none
      .nav-item
        display inline-block
        margin-right: 40px
  .header-tips
    flex 2
    color #3884FF
    .tip
      display inline-block
      margin-right: 40px